.App {
  text-align: center;
  
}
html { 

}
body{
  /* background-image: url("./images/background.jpeg");
  background-repeat: no-repeat; */
  background: url("./images/background.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo {

  width: 18%;
  pointer-events: none;
  margin-bottom:0px;
  float: right;
  height: 100%;
}
.safalogo{
  width: 18%;

  pointer-events: none;
  margin-bottom:0px;
  float: left;
  height: 100%;
}
.head{
  /* background-image: url("./images/background.jpeg");
 background-repeat: no-repeat; */
  width: 100%;
  height: 150px;
  margin: 0 auto;
}
.navfont{
  font-family: 'Amiri-Bold';
  font-size: large;
}
.jumbotron{

  width: 60%;
  /* margin: 0 auto; */
  margin-bottom: 10px;
  font-family: 'Amiri-Bold';
  float: left;
}
.center{
 
 background-color:#e9ecef;
 margin:0 auto;
 height: 100%;
 width: 70%;
 
}
.message{
  float: left;
}

.d{
  width:350px;
  height: 300px;
  
}
.Carousel{
  float:right;
}

/* @media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */



